body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  header {
    background-color: #2d2d2d;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    display: flex;
    align-items: center;
  }
  .logo img {
    height: 30px;
    width: auto;
    margin-right: 10px;
  }
  .logo span {
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1.5px;
    color: #ececec;
    font-family: "Josefin Sans";
  }
  .logo small {
    font-size: 12px;
    letter-spacing: 4px;
    color: #ececec;
    font-family: "Poppins", sans-serif;
   
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  nav ul li {
    display: inline-block; 
    font-family: "Montserrat", sans-serif;
    letter-spacing: 2px;
  }
  nav ul li a {
    display: block;
    padding: 10px 20px;
    color: #ececec;
    text-decoration: none;
  }
  nav ul li a:hover {
    background-color: #555;
  }
  nav ul li:last-child {
    margin-right: 0;
  }
  .slogan{
    background-image: url(images/bg_1.jpg);
    background-color: #f8f8f8;
    padding: 10px;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 550px;
    position: relative;
    z-index: 0; 
}
  .img-fluid {
    display: grid;
    position: absolute;    
    max-width: 100%;
    height: 500px;    
   
}
.container{
    position: flex;
    background-color: #ffffff opacity transparent;
    vertical-align: right;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}
.container .bg {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    opacity: .1;
    width: 100%;
    height: 100%;
  }
.subheading {
    font-family: "Nothing You Could Do", cursive;
    font-size: 60px;
    color: #fac564;     
    margin-left: 100px;                
}
h1 {
    text-transform: uppercase;
    font-size: 40px;
    font-family: "Josefin Sans", serif;
    color: #fff;
    line-height: 1.5;
    font-weight: bold;
    letter-spacing: 1px; 
    margin-left: 120px;
}
.slogan-text {
    display: absolute;
    text-wrap: break-word;
    font-size: 25px;
    font-family: "Poppins";
    line-height: 1.5;
    font-weight: normal;
    letter-spacing: 1px; 
    margin-left: 35%;
    margin-right: 150px;
    color: #fff;
    text-shadow: 10px 5px 4px #000000;
}
.text-slogan {
    color: #000000;
    text-shadow: 10px 5px 4px #000000;
}

.btn {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0 30px 0 200px;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.btn:hover,
.btn:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.btn:hover {
  transform: translateY(-1px);
}

.btn:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}
.main-content{
  background-image: url(images/bg_4.jpg);
  padding: 10px;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: auto;
  position: relative;
  z-index: 0; 
}
.title-menu {
  font-weight: bold;
  letter-spacing: 1.5px;
  color: #ececec;
  font-family: "Josefin Sans";
}
.slogan-menu {
  color: #a4a4a4;
  font-family: "Poppins";
  font-size: 15px; 
}
.menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 10px;
  grid-row-gap: 30px;
}
.menu > div {
  padding: 3px;
}
.pic{
  width: 140px;
  height: 140px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; 
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
}
.pizza-name{
  letter-spacing: 1.5px;
  color: #ececec;
  font-family: "Josefin Sans";
}
.pizza-detail {
  color: #a4a4a4;
  font-family: "Poppins";
  font-size: 13px; 
  text-align: center; 
}
.price{
  font-family: "Poppins";
  color: #fac564; 
  font-size: 15px;

}